# Web framework
fastapi
uvicorn[standard]
python-dotenv
PyYAML
python-multipart

# For OCR and PDF/Image processing
pymupdf

# For AI logic and embeddings
langchain
langchain-google-genai
chromadb  # Vector database
tiktoken  # Token counting

# For testing
pytest==8.4.1
