# Web framework
fastapi== 0.116.1
uvicorn[standard]==0.35.0
python-dotenv==1.1.1
PyYAML==6.0.2
python-multipart==0.0.20

# For OCR and PDF/Image processing
pymupdf==1.26.4
Pillow==11.3.0

# For AI logic and embeddings
langchain==0.3.27
langchain-google-genai==2.1.10
chromadb==1.0.20  # Vector database
tiktoken==0.11.0  # Token counting

# For testing
pytest==8.4.1
